<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuwomusic.springbootkuwomusic.mapper.HotWordInfoMapper">
  <resultMap id="BaseResultMap" type="com.kuwomusic.springbootkuwomusic.pojo.HotWordInfo">
    <!--@mbg.generated-->
    <!--@Table hot_word_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hot_word_type" jdbcType="LONGVARCHAR" property="hotWordType" />
    <result column="hot_word_json" jdbcType="LONGVARCHAR" property="hotWordJson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hot_word_type, hot_word_json
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from hot_word_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from hot_word_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kuwomusic.springbootkuwomusic.pojo.HotWordInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into hot_word_info (hot_word_type, hot_word_json)
    values (#{hotWordType,jdbcType=LONGVARCHAR}, #{hotWordJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.kuwomusic.springbootkuwomusic.pojo.HotWordInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into hot_word_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotWordType != null">
        hot_word_type,
      </if>
      <if test="hotWordJson != null">
        hot_word_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotWordType != null">
        #{hotWordType,jdbcType=LONGVARCHAR},
      </if>
      <if test="hotWordJson != null">
        #{hotWordJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuwomusic.springbootkuwomusic.pojo.HotWordInfo">
    <!--@mbg.generated-->
    update hot_word_info
    <set>
      <if test="hotWordType != null">
        hot_word_type = #{hotWordType,jdbcType=LONGVARCHAR},
      </if>
      <if test="hotWordJson != null">
        hot_word_json = #{hotWordJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuwomusic.springbootkuwomusic.pojo.HotWordInfo">
    <!--@mbg.generated-->
    update hot_word_info
    set hot_word_type = #{hotWordType,jdbcType=LONGVARCHAR},
      hot_word_json = #{hotWordJson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-10-->
  <select id="selectAllByHotWordType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hot_word_info
        where hot_word_type=#{hotWordType,jdbcType=LONGVARCHAR}
    </select>
</mapper>